@{
ViewData["Title"] = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <div class="container-fluid">
         <div class="row mb-2">
         </div>
      </div>
      <!-- /.container-fluid -->
   </section>
   <!-- Main content -->
   <section class="content">
      <div class="row">
         <!-- Worksheet Details -->
         <div id="Main-Card" class="col-md-12">
            <div class="card">
               <div class="card-body">
                    <div class="col-lg-3 col-md-6">
                        <div class="row">
                            <div data-element-type="paragraph" data-version="5" id="1084768476" background-image":""}"="" style="text-align: left;">
                                <p class="m-size-14 text-align-left size-18">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-weight: bold; font-family: Arial;" class="m-font-size-14 font-size-18">Anschrift</span>
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;"><br></span>
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Xpand GbR<br>Galappmühlerstrasse 60a<br>67659 Kaiserslautern</span>
                                </p>
                                <p class="text-align-left">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Deutschland</span>
                                </p>
                                <p class="text-align-left"><span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Telefon: +49 176 22947654<br>E-Mail: info@xpand.education</span></p>
                                <p class="text-align-left"><span style="display: initial; color: rgb(0, 0, 0); font-weight: normal; font-family: Arial;">(Angaben gemäß § 5 TMG)</span><span style="display: initial; color: rgb(255, 255, 255); font-weight: bold;"><br></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="row">
                            <div data-element-type="paragraph" data-version="5" id="1084768476" background-image":""}"="" style="text-align: left;">
                                <p class="m-size-14 text-align-left size-18">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-weight: bold; font-family: Arial;" class="m-font-size-14 font-size-18">Vertreten durch</span>
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;"><br></span>
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Geschäftsführer: Rüdiger Lang<br>Stellv. Geschäftsführer Hani Hussein<br>Stellv. Geschäftsführer Henry Wiche</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                         <div data-element-type="paragraph" data-version="5" id="1084768476" background-image":""}"="" style="text-align: left;">
                                <p class="m-size-14 text-align-left size-18">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-weight: bold; font-family: Arial;" class="m-font-size-14 font-size-18">EU-Streitschlichtung</span>
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;"><br></span>
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br>https://ec.europa.eu/consumers/odr/.<br>Unsere E-Mail-Adresse finden Sie oben im Impressum.</span>
                                </p>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div data-element-type="paragraph" data-version="5" id="1084768476" background-image":""}"="" style="text-align: left;">
                                <p class="m-size-14 text-align-left size-18">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-weight: bold; font-family: Arial;" class="m-font-size-14 font-size-18">Verbraucherstreitbeilegung/
Universalschlichtungsstelle
</span>
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;"><br></span>
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                </p>
                                <p class="text-align-left">
                                   <span style="display: initial; color: rgb(0, 0, 0); font-family: Arial;">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer<br>Verbraucherschlichtungsstelle teilzunehmen.
</span>
                                </p>
                            </div>
                    </div>
            </div>
         </div>
      </div>
</div>
</section>
</div>
