@{ ViewData["Title"] = "Home Page"; }
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper div-main-landingpage">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2"></div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content" >
        <!-- Default box -->
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 order-2 order-md-1">
                <div class="mt-5 mb-3">
					<div class="row">
						<div style="font-size:3rem;font-family: 'Nanum Gothic', sans-serif;margin-top:3rem" class="col-12">
							<p style=" text-align: left;">Erstelle jetzt dein</p>    
						</div>                                 
					</div>
					<div class="row">
						<div style="font-size:3rem;font-weight:bold; font-family: 'Cabin', sans-serif;margin-top:-20px" class="xpand-primary col-12">
                            <p style=" text-align: left;color: white; ">individuallisiertes Arbeitsblatt!</p>    

						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->                      